@import url('https://fonts.googleapis.com/css?family=Roboto');
//@import "compass/css3";

$base-font: 'Roboto';
$control-height: 40px;

/* Color Variables */
$coral: #f94e4e;
$pumpkin-orange: #f68005;
$white: #ffffff;
$gray-line: #bbbbbb40;
$white-three: #fafafa;
$title-gray: #555555;
$color-gray: #8e8e8e;
$green-teal: #0bc185;

$base-color: #ffd900;
body {
 font-family: 'Roboto', sans-serif;
 font-size: 15px;
 margin: 0;
 padding: 0;
 background-color: $white-three;
 color: $color-gray;
}

ul {
	padding: 0;
	li {
		list-style-type: none;
	}
}
a {
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	opacity: 1;

	&:active, &:hover, &:focus {
		text-decoration: none;
		opacity: 0.8;
		color: $green-teal;
		outline: 0;
	}
}

p {
	margin: 0;
}

input {
	color: #000;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color-gray;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color-gray;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color-gray;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color-gray;
	}
}

textarea{
	resize: none;
}

label {
	font-weight: 500;
}

button {
	cursor: pointer;
	transition: opacity 0.3s ease-in;
	-webkit-transition: opacity 0.3s ease-in;
	opacity: 1;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .btn:hover {
	outline: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 0.8;
}

.bold {
	font-weight: bold;
}

/************************** Color Classes *********************************/
.white {
	color: $white;
}

.coral {
	color: #f94e4e;
}

.light-navy-blue {
	color: #2f3879;
}

.bg-green-teal {
	background-color: #0bc185;
}

.color-green-teal {
	color: #0bc185;
}
/************************** Color Classes End*********************************/



.wrapper {
	position: relative;
	min-height: 100vh;
}

/************************** Navbar *********************************/
.navbar {
	border-bottom: 1px solid $gray-line;
	margin-bottom: 0;
	background-color: $white;
	position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;

	.navbar-header {
		margin-left: -21px;
		width: 100%
	}
}
.navbar-toggle {
	float: left;
}

.navbar-toggle .icon-bar {
	display: none;
}

.app-title {
	font-size: 22px;
	font-weight: bold;
	position: absolute;
	height: initial;
  top: 75%;
	left: 50%;
	transform: translate(-50%, -35%);
    height: 50px;
    line-height: 50px;
}

.chat-title {
	color: $title-gray;
	text-align: center;
	position: static;
	top: 0;
    left: 0;
    transform: translate(0%, 26%);
}
/************************** Navbar End*********************************/



/************************** Content *********************************/
.content {
	background-color: $white-three;
	padding: 80px 6px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		height: 40px;
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #e4e7e8;
	}
}

.inner-content {
	max-width: 320px;
    margin: auto;
}

.footer {
	font-size: 13px;
	text-align: center;
	color: $color-gray;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 17px;

	.footer-inner {
		max-width: 320px;
		margin: auto;
	}
}

.content-title {
	font-size: 19px;
	font-weight: 500;
	margin-bottom: 17px;
    line-height: 1.23;
	color: $title-gray;
}

.change-link {
	position: absolute;
    right: 15px;
    bottom: 9px;
    margin: 0 !important;
    background: none;
    color: $green-teal;
    font-weight: 200;
    font-size: 15px;

    &:hover, &:active {
    	color: $green-teal;
    }

    &.eye {
    	bottom: 11px;
    }
}

.form-group-container {
	.form-group {
	    margin-bottom: 10px;
	    position: relative;

	    label {
	    	color: #777777;
	    	font-size: 13px;
	    }

	    .symbol-note {
	    	color: $color-gray;
	    	font-size: 13px;
	    }
	}
	.form-control {
		color: #000;
		height: $control-height;
	    border-radius: 3px;
	    padding: 11px 15px;
	    background-color: $white;
	    border: solid 1px #e0e0e0;
	    box-shadow: none;
	    -webkit-box-shadow: none;

	    &:focus {
			//box-shadow: inset 0 1px 3px 0 rgba(51, 51, 51, 0.3);
			border: solid 1px rgba(11, 193, 133, 0.4);
	    }
	}

}

.btn {
	height: $control-height;
	width: 100%;
	font-weight: 500;
	font-size: 15px;

	&-green {
		background-color: $green-teal;
		color: $white;

		&:hover, &:focus, &.focus {
			color: $white;
		}
	}

	&-get-cons {
		&:hover, &:focus, &.focus {
			color: $white;
		}
	}
}

button[disabled] {
	opacity: 0.5;
}

.code-time {
	color: $color-gray;
	padding: 19px 0;
	margin: 0;
}

.checkbox-info-block {
	position: relative;

	&.profile {
		margin-top: 28px;
		margin-bottom: 10px;
	}

	.txt {
		display: inline-block;
	    width: calc(100% - 26px);

	    a {
	    	color: $green-teal;
	    }
	}

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		width: 18px;
		height: 18px;

		& + label {
			color: $title-gray;
		}

		& + label:before {
		    content: "\00a0";
		    display: inline-block;
		    font: 14px/1em sans-serif;
			width: 18px;
			height: 18px;
			border-radius: 3px;
			border: solid 1px #bbbbbb;
		    margin: 2px .3em 0 0;
		    padding: 0;
		    vertical-align: top;
		}

		&:checked + label:before {
		    border: 1px solid $green-teal;
		    background: {
		    	image: url(/assets/img/icons/tick.svg);
			    position: 50%;
			    size: 100%;
			    repeat: no-repeat;
			    color: $green-teal;
		    };
		    text-align: center;
		}
	}
}


/************ Login *************/
.login {
	.login-help {
		padding: 4px 0 18px;

		a {
			font-size: 15px;
			color: $green-teal;
		}
	}

	.btn-register {
		background-color: $white;
		border: 1px solid $green-teal;
		color: $green-teal;
	}

	.login-either-block {
	    position: relative;
	    text-align: center;
	    height: 20px;
	    margin: 10px 0;

	    .txt {
	    	position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 14px;
			background-color: $white-three;
			display: inline-block;
			padding: 0 10px;
			z-index: 1;
			color: $color-gray;
	    }

		.line {
		    background-color: #e0e0e0;
		    width: 100%;
		    height: 1px;
		    position: absolute;
		    top: 50%;
		}
	}
}
/************ Login End *************/



/************ Register *************/
.register {
	&.step2 {
		.line {
		background-color: $gray-line;
	    width: 100%;
	    height: 1px;
		}

		.double-code {
			display: block;
			padding: 19px 0;
		}

		.agreement-block {
			color: $title-gray;
			font-size: 12px;
			padding-top: 16px;

			a {
				&:hover, &:active {
					color: $green-teal;
				}
			}
		}
	}
}
/************ Register End *************/



/************ Main *************/
.main-account-header {
	.pic-container {
		width: 64px;
		height: 64px;
		//object-fit: contain;
	    line-height: 62px;
	    border-radius: 50px;
	    display: inline-block;
	    background-image: url(/assets/img/oval/oval.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    -webkit-background-size: cover;
	   	vertical-align: text-bottom;
	   	margin-right: 10px;
	   	background-color: $title-gray;
	}

	.info-container {
		display: inline-block;
		color: $color-gray;
		font-size: 13px;

		.full-name {
			color: $title-gray;
			font-size: 19px;
  			font-weight: 500;
		}
	}
}
.btn-get-cons {
	background-color: $coral;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 20px;
}

.account-nav-menu {
	border: {
		top: 1px solid $gray-line;
		left: 1px solid $gray-line;
		right: 1px solid $gray-line;
	}
	border-radius: 3px;
	background-color: #fff;
	color: $title-gray;

	.item {
		vertical-align: middle;
		height: $control-height;
		line-height: $control-height;
		border-bottom: 1px solid $gray-line;
		padding: 0 13px;

		div {
			display: inline-block;
		}

		.item-icon {
			margin-right: 11px;
		}

		.arrow-container {
			margin-left: 8px;

			img {
				width: 7.4px;
				height: 12px;
			}
		}

		.notification-cnt {
			width: 18px;
			height: 18px;
			line-height: 18px;
			text-align: center;
			background-color: $coral;
			color: #fff;
			font-size: 12px;
			border-radius: 50%;
			vertical-align: middle;
		}
	}
}
/************ Main End*************/


/************ Waiting Doctor *************/
.waiting-doctor-content {
	.gray-content {
		padding: 24px 20px;
	}
}
.content.waiting-doctor {
	background-color: #fff;
	padding: 80px 6px 0;

}
.doc-page-header {
	text-align: center;
	background-color: #fff;

	.doc-pic-container {
		width: 120px;
		height: 120px;
		border-radius: 3px;
  		border: solid 1px #eeeeee;
  		margin: auto;
  		background: {
			image: url(/assets/img/doc.png);
			repeat: no-repeat;
    		position: 50%;
		}
		margin-bottom: 17px;
	    // line-height: 98px;
	    // border-radius: 50px;
	    // background-image: url(/assets/img/oval/doc.png);
	    // background-repeat: no-repeat;
	    // background-size: cover;
	    // -webkit-background-size: cover;
	   	// vertical-align: text-bottom;
	   	// background-color: $title-gray;
	   	// margin: auto;
	   	// margin-bottom: 14px;
	}

	.position {
		font-size: 13px;
		color: $color-gray;
		padding-bottom: 23px;
	}

	.full-name {
		color: $title-gray;
		font-size: 19px;
		font-weight: 500;
	}
}

.doc-waiting-time {
	font-size: 15px;
	line-height: 1.33;
	text-align: center;
}


.btn-cancel-call {
	background-color: #eeeeee;
	color: $color-gray;
	margin-bottom: 21px;
}

.waiting-doctor-warning {
	margin-top: 13px;
	font-size: 13px;
	line-height: 1.23;
	text-align: center;
	color: #777777;
	margin-bottom: 27px;
}

.waiting-doctor-footer-nav {
	display: flex;
    align-items: center;
    justify-content: space-around;

	li {
		display: inline-block;

		a {
			color: $color-gray;
			font-size: 15px;
		}

	}
}
/************ Waiting Doctor End*************/


/************ Call *************/
.call-content {
	background-color: black;
}

.footer-call {
	display: flex;

	.footer-call-btn {
		display: inline-block;
		width: 50%;
	}
	.send-file {
		border-right: 1px solid #e6e5e5;
	}

	.chat-doc {

	}

	.btn-call {
		background-color: #ffffff;
		border-radius: 0;
	}
}

.video-container {
	background-color: black;
	height: 100vh;
	position: relative;
}

.call-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
}

.call-footer {
	padding: 0;
}

.interlocutor-info {
	color: #fff;

	.call-person-name {
		font-size: 17px;
		margin: 0;
	}

	.call-duration {
		font-size: 13px;
	}
}
.interlocutor-video {
	width: 60px;
	height: $control-height;
	background-color: #fff;
}

.call-actions {
	display: flex;
    justify-content: space-evenly;
	padding: 20px;

	.pic-container {
		width: 60px;
	    height: 60px;
	    line-height: 58px;
	    border-radius: 50px;
	    display: inline-block;
	    //background-image: url(/assets/img/oval/oval.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    -webkit-background-size: cover;
	    vertical-align: middle;


		&.camera {
			background-color: #fff;
		}

		&.end-call {
			background-color: $coral;
		}

		&.micro {
			background-color: #bbbbbb;
		}
	}
}

.video-notification {
	color: #fff;
	font-size: 15px;
}
/************ Call End*************/



/************ Chat *************/
.content.chat {
	margin-right: -10px;
    margin-left: -10px;
    padding: 87px 6px 30px;
}

.chat-consultation-info {
	text-align: center;
	font-size: 13px;
  margin-top: 32px !important;
}

.message-block-container {
	//clear: both;
}
.message-block {
	clear: both;
	position: relative;

	&.writer {
		float: right;

		img.edge {
			position: absolute;
    		right: -3px;
    		bottom: 23px;
		    width: 10px;
		    height: 19px;


		}

		.message-box {
			background-color: $green-teal;
			color: #fff;
			position: relative;

	    	&:before {
				content: "";
			    position: absolute;
			    z-index: 1;
			    bottom: 0;
			    right: -7px;
    			height: 11px;
    			width: 19px;
			    border-left: -9px solid #0bc185;
			    background: #0bc185;
			    -webkit-border-bottom-right-radius: 110px 65px;
			    -moz-border-radius-bottomright: 110px 65px;
			    border-bottom-right-radius: 110px 65px;
			    -webkit-transform: translate(0, -2px) rotate(55deg);
			    -moz-transform: translate(0, -2px) rotate(55deg);
			    -ms-transform: translate(0, -2px) rotate(55deg);
			    -o-transform: translate(0, -2px) rotate(55deg);
			    transform: translate(0, -2px) rotate(55deg);
			}

			&:after {
				content: "";
				position: absolute;
				z-index: 1;
				bottom: -6px;
				right: -24px;
				width: 14px;
				height: 27px;
				background: #fafafa;
				-webkit-border-bottom-right-radius: 70px 47px;
				-moz-border-radius-bottomright: 70px 47px;
				border-bottom-right-radius: 70px 47px;
				-webkit-transform: translate(-3px, 0px) rotate(83deg);
				-moz-transform: translate(-3px, 0px) rotate(83deg);
				-ms-transform: translate(-3px, 0px) rotate(83deg);
				-o-transform: translate(-3px, 0px) rotate(83deg);
				transform: translate(-3px, 0px) rotate(83deg);
			}

		}

		.message-time {
			float: right;
		    margin-right: 15px;
		    margin-top: 7px;
		}
	}

	&.reciever {
		float: left;

		img {
			position: absolute;
    		left: -7px;
    		bottom: -2px;
    		width: 15px;
		}

		.message-box {
			background-color: #eaeaea;
			color: #333333;
			position: relative;

			&:before {
			    content: "";
			    position: absolute;
			    z-index: 1;
			    bottom: 0px;
			    left: -7px;
			    height: 11px;
			    width: 17px;
			    background: #eaeaea;
			    -webkit-border-bottom-right-radius: 110px 65px;
			    -moz-border-radius-bottomright: 110px 65px;
			    border-bottom-right-radius: 110px 65px;
			    -webkit-transform: translate(0, -2px);
			    -moz-transform: translate(0, -2px);
			    -ms-transform: translate(0, -2px);
			    -o-transform: translate(0, -2px);
			    transform: translate(0, -2px);
			}

			&:after {
			    content: "";
			    position: absolute;
			    z-index: 1;
			    bottom: -3px;
			    left: -11px;
			    width: 41px;
			    height: 14px;
			    background: #fafafa;
			    -webkit-border-bottom-right-radius: 107px 50px;
			    -moz-border-radius-bottomright: 107px 50px;
			    border-bottom-right-radius: 107px 50px;
			    -webkit-transform: translate(-30px, -2px);
			    -moz-transform: translate(-30px, -2px);
			    -ms-transform: translate(-30px, -2px);
			    -o-transform: translate(-30px, -2px);
			}

		}
	}

	.message-box {
		padding: 8px 18px;
		border-radius: 20px;

		.file-container {
			img {
				padding-right: 10px;
			}
		}
	}
}

.footer.chat {
	border-top: 1px solid $gray-line;
	padding: 7px;

	.file-icon-container {
		margin-top: 3%;
	}

	.message-input-container {
		border-radius: 20px;
		border: 1px solid $gray-line;
		position: relative;

		input {
			border-radius: 18px;
			border: 1px solid transparent;
			padding: 0 0 0 14px;
			height: 36px;
			width: 260px;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $color-gray;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $color-gray;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $color-gray;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $color-gray;
			}

			&:focus {
				outline: none;
				border: none;
			}
		}

		.send {
			position: absolute;
		    top: 4px;
		    right: 4px;
		}
	}
}
/************ Chat End*************/


/************ Consultation *************/
.textarea-form-group {
	textarea, button {
		border: 1px solid #e0e0e0;
		border-radius: 3px;
	}

	textarea {
		padding: 12px 15px;
		border-radius: 3px;

		&:focus {
			border: 1px solid $green-teal;
			outline: none;
		}
	}

	.form-control {
		box-shadow: none;
	}
}
.doc-prof {
	margin-top: 18px;
	margin-bottom: 18px;

	button {
		background-color: #fff;
		border: 1px solid #e0e0e0;
		text-align: left;
		color: $title-gray;
		//padding: 6px 0 6px 15px;
		padding: 0 0 0 15px;
		line-height: $control-height;
	}

	label {
		font-size: 13px;
		font-weight: 500;
		text-align: left;
		color: #777777;
	}
	.dropdown-arrow-container {
		border-left: 1px solid #e0e0e0;
		float: right;
		height: 100%;
		width: 40px;
		text-align: center;

		img {
			width: 7.4px;
			height: 12px;
			transform: rotate(90deg);


		}
	}


	.dropdown-menu {
		width: 100%;

		li a {
			padding: 6px 15px;
		}
	}

}

.doc-category-title {
	font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #777777;
}

.doc-category-group {
	border: {
		top: 1px solid #e0e0e0;
   		// left: 1px solid #e0e0e0;
    	// right: 1px solid #e0e0e0;
	};
	input {
		opacity: 0;
		position: absolute;
	}

	.item {
		border: {
			top: 1px solid #e0e0e0;
			bottom: 1px solid #e0e0e0;
	   		left: 1px solid #e0e0e0;
	    	right: 1px solid #e0e0e0;
		};
		height: $control-height;
		//line-height: $control-height;
		line-height: 32px;
		padding: 4px 0 4px 0;
		width: 320px;

		&.active {
			border: 2px solid $green-teal;
			line-height: 28px;
			color: $green-teal;

			span:first-child {
				font-weight: 600;
			}
		}

		label {
			width: 100%;
			margin: 0;
			// display: flex;
   //  		justify-content: space-between;
			//padding: 0 0 0 15px;
		}

		.item-info {
			float: left;
			clear: both;
			width: calc(100% - 40px);
			padding: 0 15px;
			// display: flex;
   //  		justify-content: space-between;
		}

		.question-icon-container {
			float: right;
			text-align: center;
			width: 40px;
			border-left: 1px solid #e0e0e0;
		}
	}
}

.service-cost {
	font-size: 13px;
	line-height: 1.23;
	margin: 14px 0 21px 0;
}

/************ Consultation Prep*************/
.inner-content.consultation.prep {
	//padding: 0 20px;

	.line {
		margin-bottom: 14px;
	}
}

.consultation-point-title {
	color: #333333;
	margin-bottom: 10px;
	padding-top: 20px;

	span {
		font-weight: 600;
	}
}

.video-check {
	.video-container {
		height: 160px;
		border-radius: 1px;
		background-color: #333;
	}
}

.micro-check {
	.test-micro-container {
		padding-bottom: 8px;
	}
	.test-micro {
		display: inline-block;
		border: 1px solid $gray-line;
		height: 30px;
		width: 30px;
		background: url(/assets/img/icons/test-micro.svg) no-repeat;
		background-position: 50%;
	}
	.test-micro-progress-bar {
		display: inline-block;
		text-align: right;
		float: right;
	}

	.micro-note {
		font-size: 13px;
		line-height: 1.23;
	}
}

.sound-check {
	.play-btn-container {
		display: inline-block;
		//float: left;
		height: $control-height;
		width: $control-height;
		border-radius: 20px;
		border: solid 1px #00ac64;
		line-height: 36px;
	    text-align: center;
	    padding-left: 2px;
	}

	.audio-progress-bar-container {
		//float: right;
		display: inline-block;
		text-align: right;
		width: calc(100% - 44px);

		.audio-progress-bar {
			height: 2px;
			border-radius: 6px;
			margin-left: 17px;
			background-color: #eaeaea;
			position: relative;

			#playhead{
				width: 26px;
				height: 26px;
				background-color: #ffffff;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
				border-radius: 50%;
				position: absolute;
				top: -14px;
			}

		}
	}

	#audioplayer{
		margin-bottom: 20px;
	}
}

.line {
	background-color: #e0e0e0;
    width: 100%;
    height: 1px;
}
.test-help-text {
	font-size: 13px;
	line-height: 1.23;
	color: #777777;
	margin-bottom: 17px;
}

.anonym-appointment {
	margin-bottom: 10px;
}

/************ Consultation End*************/



/************ Profile *************/
.inner-content.profile {
	.form-group-container .form-control {
	    color: $title-gray;
	    font-size: 15px;
	}
}

label.profile-pic-title {
	color: #777777;
	font-size: 13px;
}

.profile-pic-container {
	width: 120px;
	height: 120px;
	border-radius: 3px;
	margin-bottom: 14px;
	position: relative;

	.profile-pic-block {
		width: 120px;
		height: 34px;
		line-height: 34px;
		font-size: 13px;
		text-align: center;
		color: white;
	  	position: absolute;
	    bottom: 0;
	    border: {
	    	bottom-left-radius: 3px;
	    	bottom-right-radius: 3px;
	    }
	    cursor: pointer;
	}

	.choose-profile-pic-container {
		height: 100%;
		width: 100%;
		background: {
			color: $white-three;
			image: url(/assets/img/profile/profile-default.svg);
			repeat: no-repeat;
    		position: 50%;
		}
		position: relative;
		border: solid 1px #e0e0e0;

		.choose-profile-pic-block {
  			background-color: $green-teal;
		}
	}

	.profile-pic {
		height: 100%;
		width: 100%;
		background: {
			color: $white-three;
			//image: url(/assets/img/profile/profile-default.svg);
			image: url(https://i.pinimg.com/736x/9d/68/1b/9d681b48be14d89f9a024e26d200e2c3--james-mcavoy-delphine.jpg);
			repeat: no-repeat;
    		position: 50% 50%;
    		size: cover;
		}
		border-radius: 3px;

		.delete-profile-pic-block {
			background-color: rgba(51, 51, 51, 0.25);
		}
	}
}

.profile-pic-note {
	font-size: 13px;
    line-height: 1.23;
    padding-bottom: 14px;
}

.sex {
	label {
		display: block;
	}

	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
		margin-bottom: 10px;
	}

	.btn-default {
		border: solid 1px #e0e0e0;
	}

	.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,
	.btn-default.focus, .btn-default:focus
	{
		background-color: #fff;
		border: 1px solid $green-teal;
		outline: 0 !important;
	}

	.bootstrap-select .dropdown-toggle:focus {
		outline: 0 !important;
	}

	.bootstrap-select.btn-group .dropdown-toggle .caret {
		width: 10px;
	    height: 6px;
	    color: #bbbbbb;
		border-top: 6px dashed;
		border-top: 4px solid\9;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
	}

}

.form-group div{
	&.height, &.weight {
		width: 47%;
		text-align: left;
	}
}

.allergy-check-form-group {
	margin-bottom: 30px;

	label {
		color: #777777;
	    font-size: 13px;
	}

	textarea {
		width: 100%;
		height: 80px;
	}
}
/************ Profile End*************/


/************ User Agreement *************/
.user-agreement-note {
	color: #777777;
	padding: 20px 0;
}

.form-group-container.user-agreement {
	padding-bottom: 30px;
}
/************ User Agreement End*************/

/************************** Content End*********************************/





/************************** Media Queries *********************************/
@media (max-width: 767px) {
	.app-title img {
		position: relative;
		top: -50%;
	}

	.chat-title {
		transform: translate(0%, 50%);
	}
}

@media (max-width: 325px) {
	.meter div.col-line {
		width: 5px !important;
	}
}
/************************** Media Queries End*********************************/






button[aria-expanded="true"] + .app-title {
	top: 26%;
}


.meter {
	height: 30px;
	//width: calc(100% - 40px);
	//width: 280px;


	div.col-line {
		display: inline-block;
		width: 6px;
		height: 30px;
		border-radius: 2px;
		//background-color: #eaeaea;
		//background-image: linear-gradient(to right, #ffd900, #0bc185);
		//background-color: darken( $base-color, 10% );

		&:nth-child(25), &:last-child{
			background-color: #eaeaea !important;
		}
	}
}

#pButton{
	transition: 0.5s ease;
	&:hover {
		opacity: 0.6;
	}
}


$start: #ffd900;
$variation: 50/24;

@for $i from 0 through 24 {
	$background-color: adjust-hue($start, 4.6 * $i);

    //darken($start, $i * $variation);
	.col-line:nth-child(#{$i}) {
		background-color: $background-color;
	}
}











// #audioplayer{
// 	width: 480px;
// 	height: 60px;
// 	margin: 50px auto auto auto;
//   border: solid;
// }


    // height:60px;
    // width: 60px;
    // border: none;
    // background-size: 50% 50%;
    // background-repeat: no-repeat;
    // background-position: center;
    // float:left;
    // outline:none;

//.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
//.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

